<!DOCTYPE html>
<html>
	<head>
		<title>Short Url</title>
		<!-- Styles -->
		<link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 url-txt" type="url" name="" value="" placeholder="Enter ugly web address here.">
			</div>
			<div class="row row-spacer-top">
				<button class="center-block btn btn-primary shorten-btn" type="button">Shorten</button>
			</div>
		</div>
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
		<script src="js/vendor/bootstrap/bootstrap.js" type="text/javascript"></script>
		<!-- Sails Socket Stuff -->
		<script type="text/javascript" src="/js/socket.io.js"></script>
		<script type="text/javascript" src="/js/sails.io.js"></script>
		<!-- App Logic -->
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>